.container {
  padding: 30px;
}
.responsive {
  display: none;
}

.fire_filter{
  background-color: #FAD4D2;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 2px;
}

.not_active{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 0px 2px;
}

.car_filter{
  background-color: #EEFF1B;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 2px;
}
.responsible_filter{
  background-color: #C3F7E2;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 2px;
}
.engineer_filter{
  background-color: #B5D5F7;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 2px;
}
@media (max-width: 768px) {
  .container {
    display: none;
  }
  .responsive {
    display: block;
    padding: 10px;
  }
}

